services:
  bot:
    build: .
    container_name: ai_bot

    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - DISCORD_CLIENT_ID=${DISCORD_CLIENT_ID}
      - DISCORD_CLIENT_SECRET=${DISCORD_CLIENT_SECRET}
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - REPLICATE_API_TOKEN=${REPLICATE_API_TOKEN}
      - OWNER_ID=${OWNER_ID}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
    volumes:
      - ./src:/app/src
    restart: unless-stopped

  redis:
    image: redis:alpine
    container_name: ai_redis

    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  redis_data:
